<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <ExitPoint
    height="500"
    id="MyRefToSalesForceExitPoint"
    popup="true"
    url="http://salesforce.com/"
    width="400"/>
</PCF>