<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../pcf.xsd">
  <Popup
    id="ExamplePopup"
    title="&quot;mypopup&quot;">
    <Screen>
      <DetailViewPanel>
        <InputColumn>
          <TextInput
            id="name"
            label="&quot;Name&quot;"
            value="&quot;sarath&quot;"/>
        </InputColumn>
      </DetailViewPanel>
    </Screen>
  </Popup>
</PCF>