<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <LocationGroup
    afterEnter="anABContact.recordContactViewed()"
    id="ABContactLG"
    infoBar="ABContactInfoBar(anABContact)"
    menuActions="ABContactLGMenuActions(anABContact)"
    parent="ContactTabForward()"
    title="displaykey.Training.Contact">
    <LocationEntryPoint
      signature="ABContactLG(anABContact:ABContact)"/>
    <Variable
      name="anABContact"
      type="ABContact"/>
    <LocationRef
      label="displaykey.Training.Summary"
      location="ABContactSummaryPage(anABContact)"/>
    <LocationRef
      label="displaykey.Training.Details"
      location="ABContactDetailsPage(anABContact)"/>
    <LocationRef
      label="displaykey.Training.AddressesCount(anABContact.AllAddresses.length) "
      location="ABContactAddressesPage(anABContact)"/>
    <LocationRef
      label="displaykey.Training.NotesCount(anABContact.ContactNotes.length)"
      location="ABContactNotesPage(anABContact)"/>
    <LocationRef
      label="displaykey.Training.Analysis"
      location="ABContactAnalysisPage(anABContact)"/>
    <LocationRef
      label="displaykey.Training.InteractionsSidebar"
      location="ABContactInteractionsPage(anABContact)"/>
    <LocationRef
      label="displaykey.Training.History"
      location="ABContactHistoryPage(anABContact)"/>
    <LocationRef
      label="&quot;My Details&quot;"
      location="CustomPage(anABContact)"/>
    <LocationRef
      label="&quot;Reference&quot;"
      location="ABContactHistoryPage1(anABContact)"/>
    <LocationRef
      label="&quot;Listview&quot;"
      location="ABContactHistoryPage2(anABContact)"/>
    <LocationRef
      label="&quot;detailview&quot;"
      location="summary(anABContact)"/>
    <LocationRef
      label="&quot;listdetailview&quot;"
      location="ABContactAddressLDV(anABContact)"/>
    <LocationRef
      label="&quot;dropdown&quot;"
      location="Dropdown(anABContact)"/>
    <LocationRef
      label="&quot;Claim&quot;"
      location="ClaimFraudDetection(anABContact)"/>
    <LocationRef
      label="&quot;S.I.U&quot;"
      location="Siu(anABContact)"/>
    <LocationRef
      label="&quot;mypage&quot;"
      location="Sample1(anABContact)"/>
    <LocationRef
      location="StudentDetails(anABContact)"/>
    <LocationRef
      label="&quot;SuspectAddress&quot;"
      location="SuspectDetails(anABContact)"/>
    <LocationRef
      label="&quot;SpecialInvestigationDetails&quot;"
      location="SpecialIvestigationDetails_EXT(anABContact)"/>
    <LocationRef
      location="SuspectAddress2(anABContact)"/>
    <LocationRef
      location="LDVExample(anABContact)"/>
    <LocationRef
      label="&quot;Credit Reporting&quot;"
      location="CreditReportingExample(anABContact)"/>
    <LocationRef
      label="&quot;Modes Example&quot;"
      location="ModesExample(anABContact)"/>
  </LocationGroup>
</PCF>